body {
  background-color: #f1e0ee;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.row img {
  aspect-ratio: 1/2;
  object-fit: cover;
  height: 500px;
}

.card-body {
  height: 250px;
  background-color: #e53d7a;
  color: white;
}

.card{
  border-radius: 30px;
  border: 2px solid #e53d7a;
  overflow: hidden;
}

:root {
  .btn-primary {
    --bs-btn-bg: #7c6abf;
    --bs-btn-border-color: #7c6abf;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #8f84b8;
    --bs-btn-hover-border-color: #8f84b8;
    --bs-btn-active-bg: #8f84b8;
    --bs-btn-active-border-color: #8f84b8;
  }
}
